*{
    margin: 0%;
    padding: 0;
}

html,body{
    height: 100%;
}

/*body{
    border: 8px solid #d7ac55 ;
}*/

a{
    text-decoration: none;
    color: #9487ac;
}

.parent{ 
    grid-column-gap: 15px;
    background-color: #d7ac55;
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.5fr 0.5fr 0.8fr 0.8fr 1.4fr;
    grid-template-areas: 
        "photo about"
        "info skills"
        "number skills"
        "media skills"
        "media working";
}

.logo{
    border: 10px solid whitesmoke;
    border-radius: 50%;
    width: 190px;
    height: auto;
}

.box1{
    background-image: linear-gradient(#32035f,#220741);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: photo;
}

.box2{
    
    text-align: center;
    grid-area: info;
    background-image: linear-gradient(#220741,#19023b);
}

.box3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: number;
    background-image: linear-gradient(#19023b,#19023b);
    grid-template-areas: 
        "dob"
        "state";
}

.box4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: media;
    background-image:linear-gradient(#19023b,#09011f) ;
    grid-template-areas:
        "phone"
        "mail" 
        "fb"
        "insta"
        "snapc";
}

.box5{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 3fr 5fr;
    justify-content: center;
    align-items: center;
    grid-area: about;
    background-color: #dddddf
    ;
    grid-template-areas: 
        "head"
        "para";
}

.box6{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-area: skills;
    background-color: #dddddf
    ;
}

.skills{
    padding-right: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    align-content: stretch;
    align-items:stretch;
    grid-gap: 8px;
    grid-template-areas: 
        "b1 b2 b3"
        "b4 b5 b6";
}

.skillb1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
        "."
        "heading" ;
}

#skill-logo{
    align-items: center;
    width: 100%;
    max-width: 70px;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#skill-logo-hover{
    color: #594979;
    margin-bottom: 3%;
}

#skill-logo-hover:hover{
    color: #d7ac55;
    background-image: linear-gradient(#9e38ff,#220741);
    outline: 5px solid #d7ac55;
    
}

.box7{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-items: center;
    grid-area: working;
    background-color: #dddddf
    ;
}

.instalogo{
    width: 30px;
    height: auto;
}

.fblogo{
    width: 30px;
    height: auto;
}

.snaplogo{
    width: 30px;
    height: auto;
}

.gmaillogo{
    width: 30px;
    height: auto;
}

.phonelogo{
    width: 30px;
    height: auto;
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr 0.6fr 1.2fr 2.6fr 1.4fr 2fr;
        grid-template-areas: 
            "photo"
            "info"
            "number"
            "about"
            "skills"
            "working"
            "media";
    }

    .skills{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas: 
            "b1 b4"
            "b2 b5"
            "b3 b6";
    }

    #skill-logo{
        width: 100%;
        max-width: 40px;
        height: auto;
        padding-top: 2em;
    }

    .box6{
        padding-right: 3%;
        grid-template-rows: 1fr 6fr;
    }

}

@media (max-width: 938px) { 
    body {font-size:1.5rem;}
    h2{font-size:2rem;}
}


@media (min-width: 150px) { 
    body {font-size:1.3rem;} 
    h2{
        font-size: 1.5rem;
    }
}
@media (min-width: 320px) { body {font-size:1.4rem;} h2{font-size: 2rem;} } 
@media (min-width: 500px) { body {font-size:1.5rem;} } 
@media (min-width:960px) {
     body {font-size:1.6rem;}
     h2{
         font-size: 2.2rem;
     }
} 
@media (min-width:1100px) { 
    body {font-size:1.65rem;} 
} 